<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class="mainContainer blackBg">
            <div class="controlPanel">
                <h1>Congratulations, you saved humanity from certain doom!</h1>
                <p>After the rebels seized power, many in the new republic voted in favor of keeping the killer robot fleet and deploying it to hunt down remaining Overlord loyalists.</p>
                <p>You decide to take your newfound coding skills elsewhere ... maybe to the Bahamas?</p>
            </div>
        </div>
        <script>
        </script>
    </body>
</html>