<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class="mainContainer cyberBg">
            <div class="content">
                <h1>Welcome to cyberphunk</h1>
                <p>The year is 2077, you live in a dystopian state facing constant oppression from the robot army controlled by the Overlords in what was once known as Orlando, FL.</p>
                <p>You hear rumors from fellow rebels that peace is no longer an option between the humans and the robots, and that a devastating attack is coming. </p>
                <h2>Can you stop it?</h2>
            </div>
        </div>
    </body>
</html>